<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- Authentication filter -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>

    <!-- Login servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Signup servlet -->
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>servlet.SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <!-- Logout servlet -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/app/logout</url-pattern>
    </servlet-mapping>

    <!-- Dashboard servlet -->
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>servlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/app/dashboard</url-pattern>
    </servlet-mapping>

    <!-- DailyLog servlet -->
    <servlet>
        <servlet-name>DailyLogServlet</servlet-name>
        <servlet-class>servlet.DailyLogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DailyLogServlet</servlet-name>
        <url-pattern>/app/logs</url-pattern>
    </servlet-mapping>

    <!-- DeleteLogServlet -->
    <servlet>
        <servlet-name>DeleteLogServlet</servlet-name>
        <servlet-class>servlet.EditLogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteLogServlet</servlet-name>
        <url-pattern>/app/logs/delete</url-pattern>
    </servlet-mapping>

    <!-- EditLog servlet -->
    <servlet>
        <servlet-name>EditLogServlet</servlet-name>
        <servlet-class>servlet.EditLogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditLogServlet</servlet-name>
        <url-pattern>/app/logs/edit</url-pattern>
    </servlet-mapping>

    <!-- CheckIn servlet -->
    <servlet>
        <servlet-name>CheckInServlet</servlet-name>
        <servlet-class>servlet.CheckInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckInServlet</servlet-name>
        <url-pattern>/app/checkin</url-pattern>
    </servlet-mapping>

    <!-- Goal servlet -->
    <servlet>
        <servlet-name>GoalServlet</servlet-name>
        <servlet-class>servlet.GoalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoalServlet</servlet-name>
        <url-pattern>/app/goals</url-pattern>
    </servlet-mapping>

    <!-- Leaderboard servlet -->
    <servlet>
        <servlet-name>LeaderboardServlet</servlet-name>
        <servlet-class>servlet.LeaderboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LeaderboardServlet</servlet-name>
        <url-pattern>/app/leaderboard</url-pattern>
    </servlet-mapping>

    <!-- Admin servlet -->
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/app/admin</url-pattern>
    </servlet-mapping>

    <!-- Welcome page -->
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>

</web-app>